.div-form{
    width: 650px;
    height: 500px;
    background: #000000;
    border: 5px solid red;
    color: #FFFFFF;
}
.sign-up{
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    height: 30px;
}
#name{
    background:#000000 ;
    border: none;
    color: #FFFFFF;
}
#email-form{
    background:#000000 ;
    border: none;
    color: #FFFFFF;
}
#password-form{
    background:#000000 ;
    border: none;
    color: #FFFFFF;
}
#recheck-pass{
    background:#000000 ;
    border: none;
    color: #FFFFFF;
}
#dob{
    background:#000000 ;
    border: none;
    color: #FFFFFF;
}